<!-- sign_up.html -->
<!DOCTYPE html>
<html lang="en">
  <form action="/submit" method="POST" enctype="multipart/form-data">
    <input type="text" name="fullname" placeholder="Full Name" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <input type="file" name="photo" accept=".jpg,.jpeg,.png" required />
    <input type="file" name="voice_record" accept=".mp3,.wav" required />
    <button type="submit">Submit</button>
  </form>
</html>
